*{
    margin: 0%;
    padding: 0;
}

.center{
    text-align: center;
    color: white;
    margin-top: 2%;
    margin-bottom: 3%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-image:url(../img/Fondo/fondo_oscuro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#portfolio{
    color: white;
}

.parrafos{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 15%;
    margin-bottom: 10%;
    width: 70%;
    height: auto;
}

.footer{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 15%;
    margin-bottom: 2%;
    width: 70%;
    height: auto;
}